<section>
  <div class="container">
    <h1 class="products-title">New Arrivals</h1>
    <div class="slider">
      <owl-carousel-o [options]="customOptions" class="owl-stage">
        <ng-template carouselSlide *ngFor="let product of products">
          <div class="card">
            <div class="card-content" [ngStyle]="{'background-color': isDarkTheme ? '#5eda5e' : '#3b5b2d'}">
              <img class="product-image" [src]="product.imgSrc" [alt]="product.name">
              <h2 class="product-title">{{ product.name | translate}}</h2>
              <p class="product-description">{{ product.description | translate}}</p>
              <p class="product-price">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
