.product-image {
    width: 30%;
    border-radius: 5px;
}

.card {
    width: calc(33.33% - 20px);
    margin: 10px;
}

.card-content {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}